{% if site.copyright.size > 0 or site.legal.size > 0 or site.hydejack.advertise %}
<footer class="content" role="contentinfo">
  <hr/>
  {% if site.copyright.size > 0 %}
    <p><small class="copyright">{{ site.copyright | markdownify | replace:'<p>','' | replace:'</p>','' }}</small></p>
  {% endif %}
 
  <nav class="leagal">
    <small>
      <a href="https://github.com/inseonyun" title="GitHub" class="no-mark-external">
        <span class="icon-github"></span>
        <span class="sr-only"></span>
        GitHub
      </a>
      &nbsp;
      <a href="https://instagram.com/in._sunny" title="Instagram" class="no-mark-external">
        <span class="icon-instagram"></span>
        <span class="sr-only"></span>
        Instagram
      </a>
    </small>
  </nav>
  

  <p><code>Powered by <a class="" href="https://inseonyun.github.io/">inseonyun</a></code></p>
  <hr class="sr-only"/>
</footer>
{% endif %}
